@import "../../mixins.scss";
@import "../../variables.scss";

.layout-contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contact-content{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    .form-title{
        color: white;
    }
}
.contact-content,
.goBack-link{
    @include fade-in(3s);
}
.goBack-link{
    position: absolute;
    top: 1rem;
    left: 1rem;
    i{
        color: white;
    }
    &:hover{
        scale: 1.2;
    }
}

.contact-section{
    width: 600px;
    background: rgba(139, 146, 138, 0.371);
    border-radius: 25px;
}

