@import "../../mixins.scss";
@import "../../variables.scss";

main {
  padding-top: $header-size;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
  .navigationAnchor {
    position: fixed;
    right: 15px;
    bottom: 50%;
    text-decoration: none;
    color: white;
    height: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.layout {
  max-width: 1350px;
  margin: auto;
  padding: 0px 50px 0px 50px;
}
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  position: relative;
  margin-bottom: 180px;
  .profile-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-section-text {
      width: 45%;
      font-style: italic;
      @media screen and (max-width: 760px) {
        width: 80%;
      }
      .typedTitle {
        color: white;
        font-size: 40px;
        @media screen and (max-width: 760px) {
          font-size: calc(60px * 0.7);
        }
        @media screen and (max-width: 425px) {
          font-size: calc(60px * 0.5);
        }
      }
    }
  }
}
.paragraphTyped {
  font-size: 40px;
  color: white;
  @media screen and (max-width: 760px) {
    min-height: 181px;
    font-size: calc(50px * 0.7);
  }
  @media screen and (max-width: 425px) {
    font-size: calc(60px * 0.4);
    min-height: 101px;
  }
  .typedText {
    color: rgba(43, 136, 36, 0.944);
  }
}
.profile-picture-style {
  margin-left: 30px;
  width: 320px;
  min-width: 150px;
  border-radius: 50px;
  transition: transform 1s ease;
  background: linear-gradient(rgba(43, 136, 36, 0.944), rgba(255, 255, 255, 0));
  cursor: pointer;
  position: relative;

  &.flipped {
    transform: rotateY(360deg);
    /* Effectue un retournement horizontal */
  }
}

.welcome-container {
  width: 100%;
  height: fit-content;
  padding: 3rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;

  h3 {
    max-width: 50%;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 18px;
    max-width: 684px;
  }
}
.titre-section{
  color: white;
  width: 100%;
  font-size: 45px;
  display :flex;
  justify-content: center;
  font-style: italic;
  @media  screen and (max-width:768px) {
    font-size: 35px;
  }
  @media  screen and (max-width:425px) {
    font-size: 25px;
  }

}
.color-first-letter{
  &::first-letter {
    color: $light-green-color;
  }
}
.competences-container {
  display: none;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  width: 100%;
  height: 800px;
  background-color: rgb(88, 88, 88, 0.9);
  border-radius: 25px;
  padding : 3rem;
  margin-top: 40px;
  @media  screen and (max-width:768px) {
    padding : 2rem;
  }
  @media  screen and (max-width:425px) {
    padding: 1rem;
  }
  &.visible{
    display: flex;
  }
}

.welcome-container,
.layout,
header,
.navigationAnchor,
footer {
  @include fade-in(2.5s);
}


@media screen and (max-width: 760px) {
  .layout {
    padding: 0px 25px 0px 25px;
  }
  .intro-container {
    margin-bottom: 100px;
    margin-top:100px;
    .profile-section-text {
      width: 80%;
    }
    h3 {
      font-size: 45px;
      text-align: center;
    }
    p {
      margin-top: 20px;
      text-align: center;
    }
    .profile-section {
      flex-direction: column;
    }
  }
  .profile-picture-style {
    margin-top: 20px;
    margin-left: 0px;
    width: 280px;
    cursor: pointer;
  }
  main {
    .navigationAnchor {
      display: none;
    }
  }
}
@media screen and (max-width: 425px) {
  .welcome-container {
    padding: 2rem 3rem;
    h3 {
      font-size: 16.8px;
    }
    p {
      font-size: 16px;
    }
  }
  .intro-container {
    margin-top: 60px;
  }
}
