@import "../../mixins.scss";
@import "../../variables.scss";

main {
  padding-top: $header-size;
  .navigationAnchor {
    position: fixed;
    right: 15px;
    bottom: 50%;
    text-decoration: none;
    color: white;
    height: 20px;
    &:hover {
      text-decoration: underline;
    }

  }
}
.layout{
  max-width: 1350px;
  margin: auto;
  padding: 0px 50px 0px 50px;
}
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: relative;
  margin-bottom: 30px;
  .profile-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-section-text{
      width: 45%;
      font-style: italic;
      @media screen and (max-width: 760px) {
        width: 80%;
      }
      .typedTitle{
        color: white;
        font-size: 40px;
        @media screen and (max-width: 760px) {
          font-size: calc(60px*0.7);
        }
        @media screen and (max-width: 425px) {
          font-size: calc(60px*0.5);
        }
      }
    }
  }
}
.paragraphTyped{
  font-size: 40px;
  color: white;
  @media screen and (max-width: 760px) {
    min-height: 181px;
    font-size: calc(50px*0.7);
  }
  @media screen and (max-width: 425px) {
    font-size: calc(60px*0.4);
    min-height: 101px;
  }
  .typedText{
    color: rgba(43, 136, 36, 0.944);
  }
}
.profile-picture-style {
  margin-left: 30px;
  width: 320px;
  min-width: 150px;
  border-radius: 50px; 
  transition: transform 1.2s; /* Animation de 1 seconde pour la transformation */
  background: linear-gradient(rgba(43, 136, 36, 0.944), rgba(255, 255, 255, 0));
  cursor: pointer;
  position: relative;
  
}
.profile-picture-style.flipped {
  transform: rotateY(360deg); /* Effectue un retournement horizontal */
}

.welcome-container {
  width: 100%;
  height: fit-content;
  padding: 3rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  p,
  h3 {
    max-width: 50%;
    text-align: center;
  }
}

.content-container {
  height: fit-content;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  
  .content1 {
    width: 100%;
    height: 300px;
    background-color: rgb(88, 88, 88, 0.9);
    border-radius: 25px;
  }
  .content-wrapper1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .content2,
    .content3,
    .content4 {
      width: 30%;
      height: 300px;
      background-color: rgb(88, 88, 88);
      border-radius: 25px;
    }
  }
}

.welcome-container,
.intro-container,
.content-container,
header,
.navigationAnchor,
footer{
  @include fade-in(0.1s);
}

@media screen and (max-width : 760px){
  .layout{
    padding: 0px 25px 0px 25px;
  }
  .intro-container {
    .profile-section-text{
      width: 80%;
    }
    h3{
      font-size: 45px;
      text-align: center;
    }
    p {
      margin-top: 20px;
      text-align: center;
    }
    .profile-section{
      flex-direction: column;
    }
  }
  .profile-picture-style {
    margin-top: 20px;
    margin-left: 0px;
    width: 280px;
    cursor: pointer;
  }
  main{
  .navigationAnchor{
    display: none;
  }}
  .welcome-container {
    width: 100%;
    height: fit-content;
    padding: 3rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    p,
    h3 {
      max-width: 100%;
      text-align: center;
    }
  } 
}