@import "../../variables.scss";
.gradient-border {
  --border-width: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 35px;
  letter-spacing: 2px;
  font-size: 1.1rem;
  background: black;
  border-radius: var(--border-width);
  text-decoration: none;
  margin-top: 100px;
  &:active {
    scale: 0.95;
  }
  span {
    color: white;
    z-index: 3;
  }
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    filter: blur(2px);
    background: linear-gradient(
      60deg,
      $background-color,
      $secondary-color,
      $light-green-color,
      $dark-green-color,
      $darken-green-color
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(
      to left,
      $light-green-color,
      $dark-green-color,
      $darken-green-color
    );
    transition: width 0.35s;
    border-radius: var(--border-width);
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
