/* Styles pour CompetenceBar */
.competence-bar {
    text-align: center;
    margin-bottom: 20px;
    width: 60%;
    @media  screen and (max-width:768px) {
      width: 100%;
      
    }
  }
  
  .competence-title {
    
    padding-left: 74px;
    text-align: start;
    font-weight: bold;
    
  }
  
  .competence-container {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    background-color: #ffffffaf;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .competence-icon {
    font-size: 50px;
    i{
      width: 50px;
      height: 50px;
    }
    &:hover{
      cursor: pointer;
      scale: 1.1;
      transition: all 0.2s ease-in-out;
    }
    &:active{
      scale: 0.98;
    }
  }
  .competence-wrapper{
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
  }
  
  .competence-progress {
    flex-grow: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .competence-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc; /* Couleur de la barre de fond */
    z-index: 1;
  }
  

  .progress-bar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 0;
    transition: width 0s ease-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span{
      font-size: large;
      font-weight: bold;
      padding-right: 10px;
    }
  }
  
  .progress-bar.filled {
    width: 100%;
  }
  
  .hidden{
    display: none;
  }
