@mixin LogoBounce($speed) {
  animation: LogoBounce $speed infinite alternate;
  
  @keyframes LogoBounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-9px);
    }
  }
}

@mixin fade-in($delay) {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out $delay forwards;
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

