@mixin slide-in($direction,$exectime) {
  transform: translateX(if($direction == left, -200%, 200%));
  animation: slide-in-animation $exectime ease forwards, fade-in $exectime+2 ease forwards;
}
@mixin fade-in($time,$delay){
  animation: fade-in $time ease forwards;
}

@keyframes slide-in-animation {
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }